<!DOCTYPE html>
<html>
    <head>
        <title>Solar Orbiter</title>
        <link rel ="icon" type ="image/x-icon" href="./assets/logo.png">
        <link rel="stylesheet" href="src/style.css">
        <link rel="stylesheet" href="src/style.scss">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,700" rel="stylesheet">
        <!-- the following says there are javascript source code contained in 
             the external source files
        -->
        <!-- external library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script type="text/javascript" src="src/lib/gl-matrix.js"></script>
        <script type="text/javascript" src="src/lib/webgl-obj-loader.js"></script>
        <link rel="stylesheet" href="src/lib/css/colorpicker.css"/>
        <script type="text/javascript" src="src/lib/bootstrap-colorpicker-module.min.js"></script>
        <!-- use with permission from https://github.com/buberdds/angular-bootstrap-colorpicker -->

        <!-- Engine code: Graphics Support -->
        <!-- Core of Engine -->
        <script type="text/javascript" src="src/Engine/Core/Engine_Core.js"></script>
        <script type="text/javascript" src="src/Engine/Core/Engine_VertexBuffer.js"></script>
        <script type="text/javascript" src="src/Engine/Core/Engine_MouseSupport.js"></script>
        <script type="text/javascript" src="src/Engine/SimpleShader.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/Renderable.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/CircleRenderable.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/SquareRenderable.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/ClickableObject.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/MeshRenderable.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/SceneNode.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/ClickableNode.js"></script>
        <script type="text/javascript" src="src/Engine/Transform/Transform.js"></script>
        <script type="text/javascript" src="src/Engine/Transform/PivotedTransform.js"></script>
        <script type="text/javascript" src="src/Engine/Camera/Camera.js"></script>
        <script type="text/javascript" src="src/Engine/Camera/Camera_Mouse.js"></script>

        <!-- GUI Lib -->
        <script type="text/javascript" src="src/GUI/CSS450Timer.js"></script>
        <script type="text/javascript" src="src/GUI/CSS450Slider.js"></script>
        <script type="text/javascript" src="src/GUI/CSS450Xform.js"></script>
        <script type="text/javascript" src="src/GUI/CanvasMouseSupport.js"></script>

        <!-- My application code -->
        <script type="text/javascript" src="src/MainController.js"></script> 
        <script type="text/javascript" src="src/jseyes.js"></script> 
        <script type="text/javascript" src="src/App/ClassExample.js"></script> 
        <script type="text/javascript" src="src/App/ClassExample_MouseOver.js"></script> 
        <script type="text/javascript" src="src/App/System.js"></script> 
        <script type="text/javascript" src="src/App/Manipulator.js"></script>
        <script type="text/javascript" src="src/App/Trail.js"></script>

    </head>

    <body
        ng-app="appMyExample" 
        ng-controller="MainCtrl">
        <audio controls loop>
            <source src="assets/MusicBox.ogg" type="video/ogg">
            Your browser does not support the audio element.
        </audio>
        <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
             width="600px" height="100px" viewBox="0 0 600 100">
        <style type="text/css">

            <![CDATA[

            text {
                filter: url(#filter);
                fill: white;
                font-family: 'Share Tech Mono', sans-serif;
                font-size: 100px;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            ]]>
        </style>
        <defs>

    <filter id="filter">
        <!--		    <feFlood flood-color="black" result="black" />-->
        <feFlood flood-color="red" result="flood1" />
        <feFlood flood-color="limegreen" result="flood2" />
        <feOffset in="SourceGraphic" dx="3" dy="0" result="off1a"/>
        <feOffset in="SourceGraphic" dx="2" dy="0" result="off1b"/>
        <feOffset in="SourceGraphic" dx="-3" dy="0" result="off2a"/>
        <feOffset in="SourceGraphic" dx="-2" dy="0" result="off2b"/>
        <feComposite in="flood1" in2="off1a" operator="in"  result="comp1" />
        <feComposite in="flood2" in2="off2a" operator="in" result="comp2" />

        <feMerge x="0" width="100%" result="merge1">
            <feMergeNode in = "black" />
            <feMergeNode in = "comp1" />
            <feMergeNode in = "off1b" />

            <animate 
                attributeName="y" 
                id = "y"
                dur ="4s"

                values = '104px; 104px; 30px; 105px; 30px; 2px; 2px; 50px; 40px; 105px; 105px; 20px; 6ßpx; 40px; 104px; 40px; 70px; 10px; 30px; 104px; 102px'

                keyTimes = '0; 0.362; 0.368; 0.421; 0.440; 0.477; 0.518; 0.564; 0.593; 0.613; 0.644; 0.693; 0.721; 0.736; 0.772; 0.818; 0.844; 0.894; 0.925; 0.939; 1'

                repeatCount = "indefinite" />

            <animate attributeName="height" 
                     id = "h" 
                     dur ="4s"

                     values = '10px; 0px; 10px; 30px; 50px; 0px; 10px; 0px; 0px; 0px; 10px; 50px; 40px; 0px; 0px; 0px; 40px; 30px; 10px; 0px; 50px'

                     keyTimes = '0; 0.362; 0.368; 0.421; 0.440; 0.477; 0.518; 0.564; 0.593; 0.613; 0.644; 0.693; 0.721; 0.736; 0.772; 0.818; 0.844; 0.894; 0.925; 0.939; 1'

                     repeatCount = "indefinite" />
        </feMerge>


        <feMerge x="0" width="100%" y="60px" height="65px" result="merge2">
            <feMergeNode in = "black" />
            <feMergeNode in = "comp2" />
            <feMergeNode in = "off2b" />

            <animate attributeName="y" 
                     id = "y"
                     dur ="4s"
                     values = '103px; 104px; 69px; 53px; 42px; 104px; 78px; 89px; 96px; 100px; 67px; 50px; 96px; 66px; 88px; 42px; 13px; 100px; 100px; 104px;' 

                     keyTimes = '0; 0.055; 0.100; 0.125; 0.159; 0.182; 0.202; 0.236; 0.268; 0.326; 0.357; 0.400; 0.408; 0.461; 0.493; 0.513; 0.548; 0.577; 0.613; 1'

                     repeatCount = "indefinite" />

            <animate attributeName="height" 
                     id = "h"
                     dur = "4s"

                     values = '0px; 0px; 0px; 16px; 16px; 12px; 12px; 0px; 0px; 5px; 10px; 22px; 33px; 11px; 0px; 0px; 10px'

                     keyTimes = '0; 0.055; 0.100; 0.125; 0.159; 0.182; 0.202; 0.236; 0.268; 0.326; 0.357; 0.400; 0.408; 0.461; 0.493; 0.513;  1'

                     repeatCount = "indefinite" />
        </feMerge>

        <feMerge>
            <feMergeNode in="SourceGraphic" />	

            <feMergeNode in="merge1" /> 
            <feMergeNode in="merge2" />

        </feMerge>
    </filter>

    </defs>

    <g>
    <text x="-50" y="100">SOLAR ORBITER</text>
    </g>
    </svg>

    <br>
    <!--            <input type="checkbox" name="activitmPartent" ng-click="$scope.mMyWorld.taggle()">
                <h1>Smiling Face</h1> -->
    <br>
</div>
<!--    <css-xform model="mSelectedXform"> </css-xform>-->
<css-timer id="idMainControllerTimer"
           interval="40"
           timeron="true"
           callback="mainTimerHandler"></css-timer>

<audio id="buttonClickSound" src="assets/buttonClickSound.mp3"></audio>
<br>
<div class="operator" id="c3" ng-hide="!selected" style="display:block; float: right; width: 23%; overflow:visible;" >
    <!--
            <button ng-click ="resetPositions()">Reset</button>
            <button ng-click="clearCanvas()">Clear All</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button ng-click = "toggleAnimated()">Play/Pause</button>
            <p>Speed &nbsp;&nbsp;<input type="range" min="-25" max="25" value="1" step="1" ng-model="selectedSpeed">
                <input type="text" min ="-25" max="25" value="1" step="1" ng-model ="selectedSpeed" style="width:35px;">-->

    <!--    <button onclick="document.getElementById('buttonClickSound').play()" ng-click ="resetPositions()">Reset</button>-->
   
    <!--        <button onclick="document.getElementById('buttonClickSound').play()" ng-click = "toggleAnimated()">Play/Pause</button>-->
    <p>Speed 
        <br><input type="range" min="-15" max="15" value="1" step=".1" ng-model="selectedSpeed">
        <input type="text" min ="-15" max="15" value="1" step=".1" ng-model ="selectedSpeed" style="width:35px;">
        <br>

    <p>Scale <br><input type="range" min=".2" max="20" value="1" step=".1" ng-model="selectedScale">
        <input type="text" min =".2" max="20" value="1" step=".1" ng-model ="selectedScale" style="width:35px;">
    <p>Orbit Distance <br><input type="range" min=".5" max="40" value="1" step=".5" ng-model="selectedOrbitDistance">
        <input type="text" min =".5" max="40" value="1" step=".5" ng-model ="selectedOrbitDistance" style="width:35px;">
        <br>
    <p>Starting Position (In PI radians) <br><input type="range" min="0" max="2" value="0" step=".05" ng-model="selectedTheta">
        <input type="text" min ="0" max="2" value="0" step=".05" ng-model ="selectedTheta" style="width:35px;">
        <br>
         <button onclick="document.getElementById('buttonClickSound').play()" ng-click="removeSelected()">Remove</button>
        <button onclick="document.getElementById('buttonClickSound').play()" ng-click="addChildSystem()"> Add Child</button>
    <div style="color:#ffffff;">
        Color: <input colorpicker type="text" 
                      ng-model="mColor" 
                      size="6"
                      style="background-color:{{mColor}}"
                      >
    </div>

</div>
<div id="c1" style="display:inline-block; float: left;">
    <table>

        <tr>
            <td><div class="button" onclick="document.getElementById('buttonClickSound').play()" ng-click = "toggleAnimated()" >
                    <div class="outer"><div class="height"><div class="inner">Play/Pause</div></div></div></div></td>

        </tr>
        <tr>
            <td><div class="button" onclick="document.getElementById('buttonClickSound').play()" ng-click ="resetPositions()" >
                    <div class="outer"><div class="height"><div class="inner">Reset</div></div></div></div>  </td>
        </tr>
                <tr>
            <td><div class="button" onclick="document.getElementById('buttonClickSound').play()" ng-click ="toggleColorMode()" >
                    <div class="outer"><div class="height"><div class="inner">Sherbert</div></div></div></div>  </td>
        </tr>
        
                        <tr>
            <td><div class="button" onclick="document.getElementById('buttonClickSound').play()" ng-click ="toggleTrails()" >
                    <div class="outer"><div class="height"><div class="inner">Trails</div></div></div></div>  </td>
        </tr>
    </table>  
</div>
<div id="c2" style="display:inline-block; margin-left: -170px;">
    <canvas          
        ng-mousemove="serviceMove($event)"
        ng-mousedown="serviceSelection($event); knobPos($event)"
        ng-mouseup =" serviceRelease($event)"
        id="GLCanvas" width="1000" height="750"
        style="cursor:pointer; margin: 0 20%;">
        <!-- GLCanvas is the area we will draw in: a 640x480 area. -->
        Your browser does not support the HTML5 canvas.
        <!-- this message will show only if WebGL clearing failed -->
    </canvas>
</div>


}
<footer style="color:#ffffff">
    <p>Source:<br>
        Space image:
        <a href="http://www.jpl.nasa.gov/spaceimages/search_grid.php?sort=instrument&mission=Hubble+Space+Telescope">Link</a><br>
        Background Music
        <a href="http://opengameart.org/content/evoeon-music-pack-part-5">Link</a><br>
        Button Click Sound
        <a href="http://soundbible.com/tags-button.html">Link</a>
    </p>
</footer>
</body>
</html>